<?xml version="1.0" encoding="UTF-8"?>
    <widget xmlns = "http://www.w3.org/ns/widgets" id = "org.chowlyefong" versionCode = "1" version = "1.0.0" >
    <name>iCare</name>

    <description>
        iCare app for iLab push messaging
    </description>

    <author href="https://my.linkedin.com/in/chowlyefong" email="chowlyefong@yahoo.com">
        Chow Lye Fong
    </author>
	<content src="index.html" />
	<!--<preference name="permissions" value="none" /> -->
	<preference name="orientation" value="portrait" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="true" />
	
	<icon src="iCare144_xxhdpi.png" platform="ios" />
	<icon src="iCare48_mdpi.png" platform="android" qualifier="mdpi" />
	<icon src="iCare72_hdpi.png" platform="android" qualifier="hdpi" />
	<icon src="iCare96_xhdpi.png" platform="android" qualifier="xhdpi" />
	<icon src="iCare144_xxhdpi.png" platform="android" qualifier="xxhdpi" />
	<icon src="iCare192_xxxhdpi.png" platform="android" qualifier="xxxhdpi" />
	<plugin name="cordova-plugin-inappbrowser" spec="1.3.0" />
	<plugin name="cordova-plugin-device" spec="1.1.2" />
	<plugin name="cordova-plugin-splashscreen" spec="3.2.2" />
	<plugin name="cordova-plugin-whitelist" spec="1" />
	<access origin="*" />
	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	
	<platform name="ios">
		<resource-file src="GoogleService-Info.plist" />
	</platform>
	<platform name="android">
		<allow-intent href="tel:*" />
		<allow-intent href="sms:*" />
		<allow-intent href="mailto:*" />
		<allow-intent href="geo:*" />
		<resource-file src="google-services.json" target="google-services.json" />
	</platform>
	<!--	
	<plugin name="cordova-plugin-googlemaps" spec="2.0.0">
    <param name="API_KEY_FOR_ANDROID" value="AIzaSyASwH0oIUHsKbbzb0meiScc0QQ1-Ze5jTc" />
    <param name="API_KEY_FOR_IOS" value="AIzaSyASwH0oIUHsKbbzb0meiScc0QQ1-Ze5jTc" />
	</plugin>
	-->	

	<plugin name="phonegap-plugin-push" source="npm" spec="1.9.0">
		<variable name="SENDER_ID" value="526751421365" />
	</plugin>


</widget>
